/* Testing cssnext */
.cssnext {
  background: color(red alpha(-10%));
}

/* Testing precss */
.precss {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}

/* Testing autoprefixer */
.autoprefixer {
  display: flex;
}

/* Comprehensive Testing */
.css_nano, .css_nano + p, [class*="css_nano"], .css_nano {
  /* cssnano will remove this comment */
  display: flex;
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
  font-weight: normal;
  padding: 1.75rem;
  width: calc(50rem - (2 * 1.75rem));
}
